html {
    font-family: 'Open Sans', sans-serif;;
    font-size : 20px;
    color: #000000;
    background-color: #00539F;
}
body {
	width: 800px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
p{
	color:black;
	border: 0.5px solid black;
	line-height: 2;
	padding: 10px 10px 10px 10px;
}
img {
  display: block;
  margin: 0 auto;
}

video{
	display:block;
	margin:0 auto; /* */
}
